API_PORT=8081
NEXT_PUBLIC_API_URL=http://localhost:8081
MYSQL_DATABASE=opoppr
MYSQL_USER=opoppr
MYSQL_PASSWORD=opoppr
MYSQL_ROOT_PASSWORD=admin
MAIL_HOST=localhost
MAIL_PORT=1025
JWT_SECRET=replace-this-with-a-long-random-value